In [1]:
import pandas as pd
import pickle

In [2]:
df0 = pd.read_csv('/Users/anne/DS7Dashboard/data/DS7 dfJointé.csv')
df = df0.loc[df0['TARGET']!=2]
df.head(3)

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,100011,0,1,0,0,0,112500.0,1019610.0,33826.5,913500.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,74.0
1,100023,0,1,0,0,1,90000.0,544491.0,17563.5,454500.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,8.0
2,100036,0,1,0,0,0,112500.0,512064.0,25033.5,360000.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,12.0

In [15]:
df.shape

(72774, 805)

In [22]:
# réduire ) 50 000 lignes
dfr = df.sample(9_000)
dfr.shape

(9000, 805)

In [23]:
dfr.to_csv('dataReduced.csv', index=False)

In [3]:
client = df.loc[df['SK_ID_CURR']==100011]
client

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,100011,0,1,0,0,0,112500.0,1019610.0,33826.5,913500.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,74.0

In [4]:
# mise au format
feats = [f for f in df.columns if f not in ['TARGET','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV']]
X = client[feats].values 
y = client['TARGET'].values

In [11]:
model = pickle.load(open('model-Copy1.pkl', 'rb'))
model.predict_proba(X)

/Users/anne/.local/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/Users/anne/.local/lib/python3.8/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 1.2.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

array([[0.04520757, 0.95479243]])

1st nb is proba of 0
2nd nb is proba of 1

In [13]:
result = model.predict_proba(X)
result[:,0]

array([0.04520757, 0.95479243])

In [14]:
result[:,0]

array([0.04520757])