In [2]:
import pandas as pd
import pickle

In [3]:
df = pd.read_csv('dataReduced.csv')
df.head(3)

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,263934,1,1,0,0,0,112500.0,270000.0,13500.0,270000.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,12.0
1,367366,0,1,0,1,0,45000.0,177903.0,8685.0,148500.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,90.0
2,434796,0,1,0,0,1,130500.0,153000.0,7812.0,153000.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,12.0

# réduire à 9 000 lignes
dfr = df.sample(9_000)
dfr.to_csv('dataReduced.csv', index=False)

In [4]:
client = df.loc[df['SK_ID_CURR']==263934]
client

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Signed_MAX,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_NAME_CONTRACT_STATUS_nan_MIN,CC_NAME_CONTRACT_STATUS_nan_MAX,CC_NAME_CONTRACT_STATUS_nan_MEAN,CC_NAME_CONTRACT_STATUS_nan_SUM,CC_NAME_CONTRACT_STATUS_nan_VAR,CC_COUNT
0,263934,1,1,0,0,0,112500.0,270000.0,13500.0,270000.0,...,False,0.0,0.0,0.0,False,False,0.0,0.0,0.0,12.0

# sans passer par json

In [8]:
# mise au format
feats = [f for f in df.columns if f not in ['TARGET','SK_ID_CURR','SK_ID_BUREAU','SK_ID_PREV']]
X2 = client[feats].values 
X2

array([[1, 0, 0, 0, 112500.0, 1019610.0, 33826.5, 913500.0, 0.018634,
        -20099, 365, -7427.0, -3514, 1.0, 1, 0, 0, 1, 0, 0, 2.0, 2, 2,
        14, 0, 0, 0, 0, 0, 0, 0.5873340468730377, 0.2057472880073281,
        0.7517237147741489, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0,
        0.0, 0.0, 0.0, 0.0, 1.0, True, False, False, True, False, False,
        False, False, False, False, False, False, False, True, False,
        False, False, False, False, False, False, False, True, False,
        True, False, False, False, False, False, True, False, False,
        False, False, True, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, True, True, False, False, False,
        False, True, False, False, False, True, False, False, False,
        False, False, False, False, True, False, False,
        -0.0181601074680332, 0.1103363050578162, 56250.0, 0.30068,
        0.0331759202047841, -2508.0, -1309.0, -1773.0,
        333418.00000000006, -2173.0, -860.0, -1293.25, -1454.75, 0.0,
        0.0, 2537.3075, 145242.0, 108807.075, 435228.3, 1.0, 0.25, 1.0,
        0.0, 0.25, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.75, 0.25,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, -2508.0, -1309.0,
        -1773.0, 333418.00000000006, -2173.0, -860.0, -1293.25, -1454.75,
        0.0, 0.0, 2537.3075, 145242.0, 108807.075, 435228.3, 1.0, 0.25,
        1.0, 0.0, 0.25, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0,
        31295.25, 13727.64625, 0.0, 675000.0, 202732.875, 0.0, 732915.0,
        261840.375, 0.0, 1.0110452856712522, 0.6440084027696462,
        0.3130880595330251, 0.0, 13594.5, 3399.125, 0.0, 675000.0,
        202733.125, 9.0, 17.0, 11.75, 0.0, 1.0, 0.525002611377315,
        -2508.0, -1162.0, -1784.5, 10.75, 43.0, 0.5, 0.25, 0.25, 0.0,
        0.0, 0.0, 0.25, 0.25, 0.0, 0.25, 0.0, 0.25, 0.0, 0.0, 1.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5, 0.5, 0.0,
        0.75, 0.0, 0.25, 0.0, 0.0, 0.75, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0,
        0.25, 0.0, 0.0, 0.0, 0.0, 0.75, 0.0, 0.0, 0.25, 0.25, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.5, 0.0, 0.25, 0.0, 0.75, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.75,
        0.0, 0.25, 0.0, 0.25, 0.25, 0.25, 0.0, 0.5, 0.25, 0.25, 0.0, 0.0,
        0.0, 0.0, 0.25, 0.25, 0.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.25, 0.0, 0.0, 0.0, 0.0, 0.0, 0.75, 0.0, 0.5, 0.25, 0.25, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.25, 0.25, 0.0, 0.25, 0.0, 0.0, 0.0, 0.0,
        0.25, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 9000.0, 31295.25,
        18303.195, 0.0, 675000.0, 270310.5, 134446.5, 732915.0, 349120.5,
        0.0, 1.0110452856712522, 0.6440084027696462, 0.3130880595330251,
        0.0, 13594.5, 4531.833333333333, 1.0, 675000.0,
        270310.8333333333, 10.0, 17.0, 12.666666666666666, 0.0, 1.0,
        0.3666701485030867, -2508.0, -1189.0, -1992.0, 14.0, 42.0, 1.0,
        1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0,
        1.0, 1.0, 0.0, 0.0, 0.0, 9.0, 9.0, 9.0, 1.0, 1.0, 1.0, -1162.0,
        -1162.0, -1162.0, 1.0, 1.0, -10.0, -46.4, 75.0, 952.0,
        205.66666666666663, 9.0, 0.3466666666666667, 0.9733333333333334,
        0.0, 0.0, 0.0, 0.0266666666666666, 0.0, 0.0, 0.0, 0.0, 0.0, 75.0,
        2.0, 958.0, 7.946153846153846, 1033.0, 32.0, 4.807692307692308,
        625.0, 1.0, 0.9076923076923076, 118.0, 0.0638414375223197,
        30833.685, 2246.821961538461, 292086.855, 47524098.85713626,
        46485.0, 13575.715615384615, 1764843.03, 449.685, 46485.0,
        11328.893653846157, 1472756.175, -37.0, -1150.923076923077,
        -149620.0, 130.0, -75.0, -2.0, -38.5, -2849.0, 462.4999999999999,
        0.0, 189000.0, 54482.11114864865, 4031676.225, 4641320594.329114,
        90000.0, 180000.0, 164189.1891891892, 12150000.0,
        1189059607.5527587, 0.0, 180000.0, 2432.4324324324325, 180000.0,
        437837837.8378379, 0.0, 180000.0, 2432.4324324324325, 180000.0,
        437837837.8378379, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 9000.0, 3902.7729054054057, 288805.195,
        20075419.73440685, 0.0, 55485.0, 4843.064189189189, 358386.75,
        52992604.62244661, 0.0, 55485.0, 4520.067567567568, 334485.0,
        55858772.94057756, 0.0, 180000.0, 52402.08891891892, 3877754.58,
        4324222845.490875, -563.355, 189000.0, 54433.17912162162,
        4028055.255, 4646735924.648183, -563.355, 189000.0,
        54433.17912162162, 4028055.255, 4646735924.648183, 0.0, 4.0,
        0.054054054054054, 4.0, 0.2162162162162162, 0.0, 4.0,
        0.054054054054054, 4.0, 0.2162162162162162, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 33.0, 25.43243243243243,
        1882.0, 112.68715290633098, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
        0.0, 0.0, 0.0, True, True, 1.0, 74.0, 0.0, False, False, 0.0,
        0.0, 0.0, False, False, 0.0, 0.0, 0.0, False, False, 0.0, 0.0,
        0.0, False, False, 0.0, 0.0, 0.0, False, False, 0.0, 0.0, 0.0,
        False, False, 0.0, 0.0, 0.0, False, False, 0.0, 0.0, 0.0, 74.0]],
      dtype=object)

In [16]:
model = pickle.load(open('model-Copy1.pkl', 'rb'))
result = model.predict_proba(X2)
result

array([[0.04520757, 0.95479243]])

1st nb is proba of 0 = will pay back its loan
2nd nb is proba of 1 = will default

In [17]:
result[:,0]

array([0.04520757])

# en passant par json

Rappel :     client = df.loc[df['SK_ID_CURR']==100011]

In [7]:
X = pd.json_normalize(client.__dict__)
X

,_is_copy,_mgr,_flags,_item_cache.SK_ID_CURR,_item_cache.TARGET,_item_cache.CODE_GENDER,_item_cache.FLAG_OWN_CAR,_item_cache.FLAG_OWN_REALTY,_item_cache.CNT_CHILDREN,_item_cache.AMT_INCOME_TOTAL,...,_item_cache.CC_NAME_CONTRACT_STATUS_Signed_MAX,_item_cache.CC_NAME_CONTRACT_STATUS_Signed_MEAN,_item_cache.CC_NAME_CONTRACT_STATUS_Signed_SUM,_item_cache.CC_NAME_CONTRACT_STATUS_Signed_VAR,_item_cache.CC_NAME_CONTRACT_STATUS_nan_MIN,_item_cache.CC_NAME_CONTRACT_STATUS_nan_MAX,_item_cache.CC_NAME_CONTRACT_STATUS_nan_MEAN,_item_cache.CC_NAME_CONTRACT_STATUS_nan_SUM,_item_cache.CC_NAME_CONTRACT_STATUS_nan_VAR,_item_cache.CC_COUNT
0,<weakref at 0x7f8cd8795540; to 'DataFrame' at ...,"BlockManager Items: Index(['SK_ID_CURR', 'TARG...",<Flags(allows_duplicate_labels=True)>,"0 100011 Name: SK_ID_CURR, dtype: int64","0 0 Name: TARGET, dtype: int64","0 1 Name: CODE_GENDER, dtype: int64","0 0 Name: FLAG_OWN_CAR, dtype: int64","0 0 Name: FLAG_OWN_REALTY, dtype: int64","0 0 Name: CNT_CHILDREN, dtype: int64","0 112500.0 Name: AMT_INCOME_TOTAL, dtype: f...",...,0 False Name: CC_NAME_CONTRACT_STATUS_Signe...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_Signed_...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_Signed_...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_Signed_...,0 False Name: CC_NAME_CONTRACT_STATUS_nan_M...,0 False Name: CC_NAME_CONTRACT_STATUS_nan_M...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_nan_MEA...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_nan_SUM...,0 0.0 Name: CC_NAME_CONTRACT_STATUS_nan_VAR...,"0 74.0 Name: CC_COUNT, dtype: float64"

In [18]:
result = model.predict_proba(X)
result[:,0]

/Users/anne/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

TypeError: float() argument must be a string or a number, not 'weakref'

In [9]:
X.values

array([[<weakref at 0x7f8cd8795540; to 'DataFrame' at 0x7f8cc9e418b0>,
        BlockManager
        Items: Index(['SK_ID_CURR', 'TARGET', 'CODE_GENDER', 'FLAG_OWN_CAR',
               'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
               'AMT_ANNUITY', 'AMT_GOODS_PRICE',
               ...
               'CC_NAME_CONTRACT_STATUS_Signed_MAX',
               'CC_NAME_CONTRACT_STATUS_Signed_MEAN',
               'CC_NAME_CONTRACT_STATUS_Signed_SUM',
               'CC_NAME_CONTRACT_STATUS_Signed_VAR', 'CC_NAME_CONTRACT_STATUS_nan_MIN',
               'CC_NAME_CONTRACT_STATUS_nan_MAX', 'CC_NAME_CONTRACT_STATUS_nan_MEAN',
               'CC_NAME_CONTRACT_STATUS_nan_SUM', 'CC_NAME_CONTRACT_STATUS_nan_VAR',
               'CC_COUNT'],
              dtype='object', length=805)
        Axis 1: Int64Index([0], dtype='int64')
        NumericBlock: [109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
         127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
         145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
         163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
         181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
         199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
         217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
         235 236 237 238 239 240 241 242 243 244 245 246 247 764 765 769 770 774
         775 779 780 784 785 789 790 794 795 799 800], 155 x 1, dtype: bool
        NumericBlock: [  6   7   8   9  10  13  15  22  32  33  34  35  36  37  38  39  40  41
          42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
          60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
          78  79  80  81  82 103 104 105 106 107 108 248 249 250 251 252 253 254
         255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272
         273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290
         291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308
         309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326
         327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344
         345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362
         363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380
         381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398
         399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416
         417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434
         435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452
         453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470
         471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488
         489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506
         507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524
         525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542
         543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560
         561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578
         579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596
         597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614
         615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632
         633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650
         651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668
         669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686
         687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704
         705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722
         723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740
         741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758
         759 760 761 762 763 766 767 768 771 772 773 776 777 778 781 782 783 786
         787 788 791 792 793 796 797 798 801 802 803 804], 606 x 1, dtype: float64
        NumericBlock: [  0   1   2   3   4   5  11  12  14  16  17  18  19  20  21  23  24  25
          26  27  28  29  30  31  83  84  85  86  87  88  89  90  91  92  93  94
          95  96  97  98  99 100 101 102], 44 x 1, dtype: int64                               ,
        <Flags(allows_duplicate_labels=True)>,
        0    100011
        Name: SK_ID_CURR, dtype: int64, 0    0
                                        Name: TARGET, dtype: int64,
        0    1
        Name: CODE_GENDER, dtype: int64,
        0    0
        Name: FLAG_OWN_CAR, dtype: int64,
        0    0
        Name: FLAG_OWN_REALTY, dtype: int64,
        0    0
        Name: CNT_CHILDREN, dtype: int64,
        0    112500.0
        Name: AMT_INCOME_TOTAL, dtype: float64,
        0    1019610.0
        Name: AMT_CREDIT, dtype: float64,
        0    33826.5
        Name: AMT_ANNUITY, dtype: float64,
        0    913500.0
        Name: AMT_GOODS_PRICE, dtype: float64,
        0    0.018634
        Name: REGION_POPULATION_RELATIVE, dtype: float64,
        0   -20099
        Name: DAYS_BIRTH, dtype: int64,
        0    365
        Name: DAYS_EMPLOYED, dtype: int64,
        0   -7427.0
        Name: DAYS_REGISTRATION, dtype: float64,
        0   -3514
        Name: DAYS_ID_PUBLISH, dtype: int64,
        0    1.0
        Name: OWN_CAR_AGE, dtype: float64,
        0    1
        Name: FLAG_MOBIL, dtype: int64,
        0    0
        Name: FLAG_EMP_PHONE, dtype: int64,
        0    0
        Name: FLAG_WORK_PHONE, dtype: int64,
        0    1
        Name: FLAG_CONT_MOBILE, dtype: int64,
        0    0
        Name: FLAG_PHONE, dtype: int64, 0    0
                                        Name: FLAG_EMAIL, dtype: int64,
        0    2.0
        Name: CNT_FAM_MEMBERS, dtype: float64,
        0    2
        Name: REGION_RATING_CLIENT, dtype: int64,
        0    2
        Name: REGION_RATING_CLIENT_W_CITY, dtype: int64,
        0    14
        Name: HOUR_APPR_PROCESS_START, dtype: int64,
        0    0
        Name: REG_REGION_NOT_LIVE_REGION, dtype: int64,
        0    0
        Name: REG_REGION_NOT_WORK_REGION, dtype: int64,
        0    0
        Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64,
        0    0
        Name: REG_CITY_NOT_LIVE_CITY, dtype: int64,
        0    0
        Name: REG_CITY_NOT_WORK_CITY, dtype: int64,
        0    0
        Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64,
        0    0.587334
        Name: EXT_SOURCE_1, dtype: float64,
        0    0.205747
        Name: EXT_SOURCE_2, dtype: float64,
        0    0.751724
        Name: EXT_SOURCE_3, dtype: float64,
        0    1.0
        Name: APARTMENTS_AVG, dtype: float64,
        0    1.0
        Name: BASEMENTAREA_AVG, dtype: float64,
        0    1.0
        Name: YEARS_BEGINEXPLUATATION_AVG, dtype: float64,
        0    1.0
        Name: YEARS_BUILD_AVG, dtype: float64,
        0    1.0
        Name: COMMONAREA_AVG, dtype: float64,
        0    1.0
        Name: ELEVATORS_AVG, dtype: float64,
        0    1.0
        Name: ENTRANCES_AVG, dtype: float64,
        0    1.0
        Name: FLOORSMAX_AVG, dtype: float64,
        0    1.0
        Name: FLOORSMIN_AVG, dtype: float64,
        0    1.0
        Name: LANDAREA_AVG, dtype: float64,
        0    1.0
        Name: LIVINGAPARTMENTS_AVG, dtype: float64,
        0    1.0
        Name: LIVINGAREA_AVG, dtype: float64,
        0    1.0
        Name: NONLIVINGAPARTMENTS_AVG, dtype: float64,
        0    1.0
        Name: NONLIVINGAREA_AVG, dtype: float64,
        0    1.0
        Name: APARTMENTS_MODE, dtype: float64,
        0    1.0
        Name: BASEMENTAREA_MODE, dtype: float64,
        0    1.0
        Name: YEARS_BEGINEXPLUATATION_MODE, dtype: float64,
        0    1.0
        Name: YEARS_BUILD_MODE, dtype: float64,
        0    1.0
        Name: COMMONAREA_MODE, dtype: float64,
        0    1.0
        Name: ELEVATORS_MODE, dtype: float64,
        0    1.0
        Name: ENTRANCES_MODE, dtype: float64,
        0    1.0
        Name: FLOORSMAX_MODE, dtype: float64,
        0    1.0
        Name: FLOORSMIN_MODE, dtype: float64,
        0    1.0
        Name: LANDAREA_MODE, dtype: float64,
        0    1.0
        Name: LIVINGAPARTMENTS_MODE, dtype: float64,
        0    1.0
        Name: LIVINGAREA_MODE, dtype: float64,
        0    1.0
        Name: NONLIVINGAPARTMENTS_MODE, dtype: float64,
        0    1.0
        Name: NONLIVINGAREA_MODE, dtype: float64,
        0    1.0
        Name: APARTMENTS_MEDI, dtype: float64,
        0    1.0
        Name: BASEMENTAREA_MEDI, dtype: float64,
        0    1.0
        Name: YEARS_BEGINEXPLUATATION_MEDI, dtype: float64,
        0    1.0
        Name: YEARS_BUILD_MEDI, dtype: float64,
        0    1.0
        Name: COMMONAREA_MEDI, dtype: float64,
        0    1.0
        Name: ELEVATORS_MEDI, dtype: float64,
        0    1.0
        Name: ENTRANCES_MEDI, dtype: float64,
        0    1.0
        Name: FLOORSMAX_MEDI, dtype: float64,
        0    1.0
        Name: FLOORSMIN_MEDI, dtype: float64,
        0    1.0
        Name: LANDAREA_MEDI, dtype: float64,
        0    1.0
        Name: LIVINGAPARTMENTS_MEDI, dtype: float64,
        0    1.0
        Name: LIVINGAREA_MEDI, dtype: float64,
        0    1.0
        Name: NONLIVINGAPARTMENTS_MEDI, dtype: float64,
        0    1.0
        Name: NONLIVINGAREA_MEDI, dtype: float64,
        0    1.0
        Name: TOTALAREA_MODE, dtype: float64,
        0    1.0
        Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64,
        0    0.0
        Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64,
        0    1.0
        Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64,
        0    0.0
        Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64,
        0    0.0
        Name: DAYS_LAST_PHONE_CHANGE, dtype: float64,
        0    0
        Name: FLAG_DOCUMENT_2, dtype: int64,
        0    1
        Name: FLAG_DOCUMENT_3, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_4, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_5, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_6, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_7, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_8, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_9, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_10, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_11, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_12, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_13, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_14, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_15, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_16, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_17, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_18, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_19, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_20, dtype: int64,
        0    0
        Name: FLAG_DOCUMENT_21, dtype: int64,
        0    0.0
        Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: float64,
        0    0.0
        Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: float64,
        0    0.0
        Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: float64,
        0    0.0
        Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: float64,
        0    0.0
        Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64,
        0    1.0
        Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64,
        0    True
        Name: NAME_CONTRACT_TYPE_Cash loans, dtype: bool,
        0    False
        Name: NAME_CONTRACT_TYPE_Revolving loans, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_1, dtype: bool,
        0    True
        Name: NAME_TYPE_SUITE_Children, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Family, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Group of people, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Other_A, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Other_B, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Spouse, partner, dtype: bool,
        0    False
        Name: NAME_TYPE_SUITE_Unaccompanied, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Businessman, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Commercial associate, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Maternity leave, dtype: bool,
        0    True
        Name: NAME_INCOME_TYPE_Pensioner, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_State servant, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Student, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Unemployed, dtype: bool,
        0    False
        Name: NAME_INCOME_TYPE_Working, dtype: bool,
        0    False
        Name: NAME_EDUCATION_TYPE_Academic degree, dtype: bool,
        0    False
        Name: NAME_EDUCATION_TYPE_Higher education, dtype: bool,
        0    False
        Name: NAME_EDUCATION_TYPE_Incomplete higher, dtype: bool,
        0    False
        Name: NAME_EDUCATION_TYPE_Lower secondary, dtype: bool,
        0    True
        Name: NAME_EDUCATION_TYPE_Secondary / secondary special, dtype: bool,
        0    False
        Name: NAME_FAMILY_STATUS_Civil marriage, dtype: bool,
        0    True
        Name: NAME_FAMILY_STATUS_Married, dtype: bool,
        0    False
        Name: NAME_FAMILY_STATUS_Separated, dtype: bool,
        0    False
        Name: NAME_FAMILY_STATUS_Single / not married, dtype: bool,
        0    False
        Name: NAME_FAMILY_STATUS_Unknown, dtype: bool,
        0    False
        Name: NAME_FAMILY_STATUS_Widow, dtype: bool,
        0    False
        Name: NAME_HOUSING_TYPE_Co-op apartment, dtype: bool,
        0    True
        Name: NAME_HOUSING_TYPE_House / apartment, dtype: bool,
        0    False
        Name: NAME_HOUSING_TYPE_Municipal apartment, dtype: bool,
        0    False
        Name: NAME_HOUSING_TYPE_Office apartment, dtype: bool,
        0    False
        Name: NAME_HOUSING_TYPE_Rented apartment, dtype: bool,
        0    False
        Name: NAME_HOUSING_TYPE_With parents, dtype: bool,
        0    True
        Name: OCCUPATION_TYPE_1, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Accountants, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Cleaning staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Cooking staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Core staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Drivers, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_HR staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_High skill tech staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_IT staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Laborers, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Low-skill Laborers, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Managers, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Medicine staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Private service staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Realty agents, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Sales staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Secretaries, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Security staff, dtype: bool,
        0    False
        Name: OCCUPATION_TYPE_Waiters/barmen staff, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_FRIDAY, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_MONDAY, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_SATURDAY, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_SUNDAY, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_THURSDAY, dtype: bool,
        0    False
        Name: WEEKDAY_APPR_PROCESS_START_TUESDAY, dtype: bool,
        0    True
        Name: WEEKDAY_APPR_PROCESS_START_WEDNESDAY, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Advertising, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Agriculture, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Bank, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Business Entity Type 1, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Business Entity Type 2, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Business Entity Type 3, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Cleaning, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Construction, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Culture, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Electricity, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Emergency, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Government, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Hotel, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Housing, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 1, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 10, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 11, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 12, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 13, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 2, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 3, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 4, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 5, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 6, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 7, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 8, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Industry: type 9, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Insurance, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Kindergarten, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Legal Services, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Medicine, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Military, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Mobile, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Other, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Police, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Postal, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Realtor, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Religion, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Restaurant, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_School, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Security, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Security Ministries, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Self-employed, dtype: bool,
        0    False
        Name: ORGANIZATION_TYPE_Services, dtype: bool,

In [18]:
import requests
request = requests.post(url="http://127.0.0.1:8000/prediction",
                        data=json.dumps({'idClient': 434796}),
                        headers={"Content-Type": "application/json"})

In [19]:
result = request.json()
result

{'resultat': 0.08501950102744855}

In [20]:
result['resultat']

0.08501950102744855